@media screen and (max-width: 1024px) {
    .position_top {
        right: 0;
    }
}
@media screen and (max-width: 990px) {
    .full-width {
        padding: 0;
    }
    .position_top {
        position: relative;
        top: unset;
    }
}
@media screen and (max-width: 768px) {
    .site-index > .pagination {
        position: relative;
        left: 35%;
       }
}
@media screen and (max-width: 680px) {
    .post {
        width: 100%;
    }
}
@media screen and (max-width: 480px){
    .category_top_widget {
        margin: unset;
    }
    #pagination_category {
        margin: 15px 25%;
        left: 10%;
    }
    .search {
        top: 0;
    }
    #form_search {
        top: 150px;
    }
    .site-index > .pagination {
        position: relative;
        left: 25%;
    }
    .content_post_view {
        width: 100%;
    }
    .content_text_post {
        padding: 40px 15px;
        font-size: 16px;
    }
    .post {
        height: 200px;
        position: relative;
    }
    .category_post {
        width: 100%;
        margin-bottom: 10px;
    }
    .search_icon_field {
        width: 25px;
        right: 0px;
        position: absolute;
        top: 15px;
    }
    .input_search {
        font-size: 14px;
    }
}