@media screen and (max-width: 1024px) {
    .position_top {
        right: 0;
    }
}
@media screen and (max-width: 990px) {
    .category_widget {
        display: none;
    }
}
@media screen and (max-width: 480px){
    .site-index > .pagination {
        position: relative;
        left: 32%;
    }
    .content_post_view {
        width: 100%;
    }
    .content_text_post {
        padding: 40px 15px;
        font-size: 16px;
    }
    .post {
        height: 200px;
        position: relative;
    }
    .category_post {
        width: 100%;
        margin-bottom: 10px;
    }
}