@media screen and (max-width: 1024px) {
    .position_top {
        right: 0;
    }
}
@media screen and (max-width: 990px) {
    .category_top_widget {
        margin: 20px 0;
    }
    .full-width {
        padding: 0;
    }
    .position_top {
        position: relative;
        top: unset;
    }
    .post-widget {
        width: 100%;
    }
    #form_search {
        width: 90%;
        margin: 0 5%;
    }
}
@media screen and (max-width: 768px) {
    .site-index > .pagination {
        position: relative;
        left: 35%;
    }
    .category_widget {
        width: 100%;
        margin: 20px 0px;
    }
    .content_post {
        height: unset;
    }
    .post_img {
        width: 70%;
        height: unset;
        margin-top: 30px;
    }
    .content {
        padding: 20px 20px;
    }
    .full-width {
        margin: 0 0;
        padding: 0px 20px;
    }
    .content_post_view {
        margin: 20px 20px;
    }
}
@media screen and (max-width: 680px) {
    .post {
        width: 100%;
    }
    .category_widget {
        width: unset;
    }
    .overlay-portfolio {
        position: absolute;
        width: 84.5%;
        transition: 1s;
        top: 0px;
        right: 0;
        left: 0;
        bottom: 0;
        margin: 0 auto;
        opacity: 0;
        height: 100%;
    }
    .portfolio-loader {
        position: fixed;
        top: 40%;
        width: 150px;
        left: 30%;
        display: none;
    }
    .position_zoom_rooms {
        position: fixed;
        z-index: 10000000000;
        top: 30%;
        width: 80%;
        margin: 0 10%;
    }
}
@media screen and (max-width: 480px){
    .date , .author_name {
        display: block;
    }
    .post_img {
        width: 100%;
        margin-top: unset;
    }
    .category_top_widget {
        margin: unset;
    }
    #pagination_category {
        margin: 15px 25%;
        left: 10%;
    }
    .search {
        top: 0;
    }
    #form_search {
        top: 150px;
    }
    .site-index > .pagination {
        position: relative;
        left: 25%;
    }
    .content_text_post {
        padding: 40px 15px;
        font-size: 14px;
    }
    .post {
        height: 200px;
        position: relative;
    }
    .category_post {
        width: 100%;
        margin-bottom: 10px;
    }
    .search_icon_field {
        width: 25px;
        right: 0px;
        position: absolute;
        top: 15px;
    }
    .input_search {
        font-size: 14px;
    }
}