@font-face {
    font-family: "Oswald";
    src: url("../fonts/Oswald/Oswaldbold.ttf") format("woff"),
    url("../fonts/Oswald/Oswaldregular.ttf") format("woff2");
    font-style: normal;
    font-weight: 300;
}
body {
    background: #ededed;
    /*content_post_viewbackground: #afa8a8;*/
    /*font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;*/
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;;
}
.content_post {
    text-align: center;
    border: 1px solid #ccc;
    margin: 10px 10px;
    box-shadow: 0 .005em .01em 0 rgba(0,0,0,.12),0 2px 10px 0 rgba(0,0,0,.12)!important;
    /*box-shadow: 0 .005em .01em 0 rgba(0,0,0,.12),0px 0px 12px 12px rgba(0,0,0,.12)!important;*/
    background-color: white;
    height: 340px;
}
.title {
    font-size: 20px;
    font-weight: bold;
    display: block;
    margin-top: 10px;
}
.category_title {
    font-size: 40px;
    font-weight: bold;
    display: block;
    padding-left: 9px;
}
a.link_post {
    color: #000;
    text-decoration: none;
}
.post_img {
    width: 100%;
}
.post_img:hover {
    cursor: pointer;
    opacity: 0.7;
    transition: 1s;
}
.preview_img {
    width: 20%;
    padding-bottom: 10px;
}
.title a {
    color: black;
}
.title a:hover {
    text-decoration: none;
    color: #04a49c;
    transition: 1s;
}
.author_name > .name {
    font-weight: bold;
}
.site-index > .pagination {
    position: relative;
    left: 44%;
}
.content_post_view {
    background-color: white;
    /*width: 75%;*/
    margin: 20px 0;
    padding: 20px 20px;
    box-shadow: 0 .005em .01em 0 rgba(0,0,0,.12),0 2px 10px 0 rgba(0,0,0,.12)!important;
    border-radius: 10px;
    /*box-shadow: 0 .005em .01em 0 rgba(0,0,0,.12),0px 0px 12px 12px rgba(0,0,0,.12)!important;*/
}
.post {
    position: relative;
    width: 50%;
    display: block;
    margin-top: 15px;
    float: left;
    margin-right: 20px;
}
.category_post {
    position: relative;
    width: 35%;
    margin-top: 15px;
    float: left;
    padding: 0px 10px;
}
.date {
    display: inline-block;
}
.content_text_post {
    padding: 10px 0;
    font-size: 16px;
    line-height: 30px;
}
.content_post_view > a {
    color: #000;
}
.content_post_view > a >.category {
    font-weight: bold;
    color: #333;
}
.content_post_view > a {
    text-decoration: none;
}
.category_content {
    padding: 10px 10px;
    line-height: 30px;
    font-size: 16px;
}
.category_background {
    background: white;
    padding: 20px 20px;
    margin: 20px 0;
    box-shadow: 0 .005em .01em 0 rgba(0,0,0,.12),0 2px 10px 0 rgba(0,0,0,.12)!important;
    border-radius: 10px;
}
.read_more a {
    color: #04a49c;
}
.read_more a:hover {
    text-decoration: none;
    padding-left: 2px;
    transition: 0.3s;
    opacity: 0.9;
}
.info {
    display: block;
    position: relative;
    top: 10px;
    padding-left: 9px;
    clear: both;
}
.info > a > .category {
    color: #333;
    font-weight: bold;
}
.info > a {
    text-decoration: none;
}
#pagination_category {
    clear: both;
    display: block;
    position: relative;
    margin: 0 25%;
}
.category_widget {
    background: white;
    padding: 20px 20px;
    width: 82%;
    border-radius: 10px;
}
.category_widget > .block-category > a {
    color: #333;
    font-weight: bold;
}
.category_widget > .block-category:hover {
    background-color: #08c;
    color: white;
    cursor: pointer;
    padding: 0 2px;
    transition: 0.5s;
}
.category_widget > .block-category:hover > a {
    color: white;
    text-decoration: none;
 }
.position_top {
    position: absolute;
    right: 15px;
    top: 146px;
}
.category_top_widget {
    margin: 20px 20px;
    width: 100%;
    border-radius: 10px;
}
.icon_search {
    width: 35px;
    margin-top: 10px;
    margin-left: 10px;
}
.icon_search:hover {
    cursor: pointer;
}
#form_search {
    position: fixed;
    width: 80%;
    top: 50px;
    z-index: 100000000000000;
    margin: 0 10%;
    display: none;
}
.input_search {
    width: 100%;
    border: none;
    height: 50px;
    text-align: center;
    font-size: 20px;
    outline: none;
    border-radius: 10px;
}
.overlay , .overlay-item {
    width: 100%;
    height: 100%;
    top: 0;
    position: fixed;
    background: rgba(0,0,0, 0.7);
    display: none;
    z-index: 1000000000;
}
.search {
    background: rgba(0,0,0,0);
    border: none;
    position: absolute;
    right: 0;
    top: 7px;
    outline: none;
}
.search_icon_field {
    width: 40px;
    /*right: 15px;
    position: absolute;
    top: 7px;*/
}
.query_info {
    margin-left: 25px;
    position: relative;
}
.query_info > .query , .query_info > .count , .query{
    display: block;
    font-weight: bold;
}
.search_result{
    position: fixed;
    width: 80%;
    top: 110px;
    z-index: 100000;
    margin: 0 10%;
    background: white;
}

.search_result li{
    list-style: none;
    padding: 5px 10px;
    margin: 0 0 0 -40px;
    color: #0896D3;
    border-bottom: 1px #ccc solid;
    cursor: pointer;
    transition:0.3s;
}

.search_result li:hover{
    background: #F9FF00;
}
.position_text {
    padding: 10px 0;
}
.heart-like , .heart-like-active {
    width: 15px;
}
.heart-like:hover , .heart-like-active {
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.5s;
}
#pjaxCountLikes {
    display: inline-block;
    top: 1px;
    position: relative;
}
#pjaxCountLikes:hover {
    cursor: pointer;
}
#pjaxCountLikes .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    top: -35px;
    left: 15px;
}
#pjaxCountLikes:hover .tooltiptext {
    visibility: visible;
}
.author_likes {
    display: block;
}
.block-category , .post-data{
    display: block;
}
.post-data {
    margin-left: 10px;
    display: none;
}
.post-data > .post-name > a {
    color: black;
}
.count_post:hover {
    cursor: pointer;
}
.site-index > .pagination > li > a, .site-index >.pagination > li > span {
    color: black;
}
.title-block {
    margin-top: 20px;
}
.viewed {
    width: 20px;
}
.count_viewed {
    top: 1.4px;
    margin-left: 2px;
    position: relative;
}
.navbar-inverse .navbar-nav > li > a {
    letter-spacing: 1px;
    font-family: Oswald;
    color: white;
}
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    font-family: Oswald;
    color: white;
}
.navbar-inverse .navbar-nav > li > a:hover , .nav li > form > button.logout:hover {
    color: black;
}
.navbar-nav > li:hover {
    background-color: white;
}
.navbar {
    border: none;
}
.history-back {
    cursor: pointer;
}
.portfolio_img {
    width: 100%;
    margin: 0 auto;
    display: block;
}
.block-portfolio {
    margin: 10px 10px;
}
.block-portfolio:hover , .overlay-portfolio:hover {
    cursor: pointer;
}
.block-portfolio:hover .overlay-portfolio {
    opacity: 1;
    background: rgba(0, 0, 0, 0.7);
}
.overlay-portfolio {
    position: absolute;
    width: 91.5%;
    transition: 1s;
    top: 10px;
    right: 0;
    left: 0;
    bottom: 0;
    margin: 0 auto;
    opacity: 0;
    height: 94.5%;
}
.portfolio-name {
    color: white;
    font-size: 30px;
    position: absolute;
    vertical-align: middle;
    top: 45%;
    letter-spacing: 1px;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
}
.items-overlay-portfolio {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.8);
    display: none;
    right: 0;
    left: 0;
    z-index: 100000000;
}
.item-content-portfolio {
    background-color: white;
    height: 100vh;
    margin: 0 auto;
    padding: 20px 15px;
    overflow: scroll;
    z-index: 1000000000;
}
.portfolio-img {
    width: 100%;
    margin-bottom: 20px;
    z-index: 10000000000000000000000000000;
    position: relative;
}
.portfolio-img:hover {
    cursor: pointer;
}
.name-work {
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 1px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}
.portfolio-close {
    position: absolute;
    right: 10px;
    width: 30px;
    top: -15px;
}
.portfolio-close:hover {
    cursor: pointer;
}
.content-item {
    font-style: italic;
    font-size: 18px;
    font-weight: 400;
}
.portfolio-loader {
    position: fixed;
    top: 40%;
    width: 300px;
    left: 40%;
    display: none;
}
.field-loginform-rememberme > .radio, .field-loginform-rememberme > .checkbox {
    position: relative;
    display: block;
    margin-top: 0px;
    margin-bottom: 0px;
    float: left;
}
#fix-margin {
    padding: 0;
}
.register_link {
    margin-left: 40px;
}
.breadcrumb > li > a {
    color: black;
}
.login-link {
    color: #9d9d9d;
    letter-spacing: 1px;
    padding-top: 15px;
    display: inline-block;
}
.login-link:hover {
    text-decoration: none;
    color: white;
}
.new-posts {
    font-size: 20px;
    font-weight: bold;
    padding-left: 25px;
}
.about-me {
    white-space: pre-wrap;
    padding-left: 25px;
    font-style: italic;
    font-size: 16px;
    margin-bottom: 20px;
}
.position_zoom_rooms {
    position: fixed;
    z-index: 10000000000;
    top: 10px;
    width: 80%;
    margin: 0 10%;
}
.clone_img {
    width: 100%;
}
.position-block-portfolio {
    float: right;
    margin-top: 30px;
}
.popular , .popular-name {
    display: block;
    text-align: center;
    padding: 5px 0;
    font-size: 16px;
}
.popular-name {
    color: #333;
    text-align: center;
    font-weight: bold;
    padding: 10px 10px;
    font-size: 16px;
    text-transform: uppercase;
}
.underline-block-post {
    margin-top: 10px;
    margin-bottom: 10px;
}
.post-widget {
    position: relative;
    width: 80%;
    display: block;
    margin-top: 15px;
    margin: 0 10%;
}
.fix-padding-caytegory {
    padding: 0;
}