body {
    background: #ededed;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}
.content_post {
    text-align: center;
    border: 1px solid #ccc;
    margin: 10px 10px;
    box-shadow: 0 .005em .01em 0 rgba(0,0,0,.12),0 2px 10px 0 rgba(0,0,0,.12)!important;
    background-color: white;
    height: 270px;
}
.title {
    font-size: 20px;
    font-weight: bold;
    display: block;
}
.category_title {
    font-size: 40px;
    font-weight: bold;
    display: block;
    padding-left: 9px;
}
a.link_post {
    color: #000;
    text-decoration: none;
}
.post_img {
    width: 100%;
    height: 190px;
}
.post_img:hover {
    cursor: pointer;
    opacity: 0.7;
    transition: 1s;
}
.preview_img {
    width: 20%;
    padding-bottom: 10px;
}
.title a {
    color: black;
}
.title a:hover {
    text-decoration: none;
    color: #04a49c;
    transition: 1s;
}
.author_name > .name {
    font-weight: bold;
}
.site-index > .pagination {
    position: relative;
    left: 44%;
}
.content_post_view {
    background-color: white;
    width: 75%;
    margin: 0;
    padding: 20px 20px;
    box-shadow: 0 .005em .01em 0 rgba(0,0,0,.12),0 2px 10px 0 rgba(0,0,0,.12)!important;
}
.post {
    position: relative;
    width: 100%;
    display: block;
    height: 300px;
    margin-top: 15px;
}
.category_post {
    position: relative;
    width: 35%;
    margin-top: 15px;
    float: left;
    padding: 0px 10px;
}
.date {
    display: inline-block;
}
.content_text_post {
    padding: 50px 50px;
    font-size: 18px;
}
.content_post_view > a {
    color: #000;
}
.content_post_view > a >.category {
    font-weight: bold;
    color: #333;
}
.content_post_view > a {
    text-decoration: none;
}
.category_content {
    padding: 10px 10px;
}
.category_background {
    background: white;
    padding: 20px 20px;
    margin: 20px 0px;
    box-shadow: 0 .005em .01em 0 rgba(0,0,0,.12),0 2px 10px 0 rgba(0,0,0,.12)!important;
}
.read_more a {
    color: #04a49c;
}
.read_more a:hover {
    text-decoration: none;
    padding-left: 2px;
    transition: 0.3s;
    opacity: 0.9;
}
.info {
    display: block;
    position: relative;
    top: 10px;
    padding-left: 9px;
    clear: both;
}
.info > a > .category {
    color: #333;
    font-weight: bold;
}
.info > a {
    text-decoration: none;
}
#pagination_category {
    clear: both;
    display: block;
    position: relative;
    margin: 0 25%;
    
}